<div>
  <p class="font-bold">【<%= title %>】</p>
  <div class="ml-4 mt-4 gap-3">
    <% if location %>
      <%= link_to location.country_and_region, story_world_guide_path(story, location), class: "inline-block px-3 py-1 text-md bg-gray-100 border border-black rounded-full hover:bg-gray-200" %>
    <% else %>
      <p>未設定</p>
    <% end %>
  </div>
</div>
