<h1 class="text-3xl font-bold mb-8 px-8">管理者ダッシュボード</h1>

<div class="flex items-center gap-4 p-8 bg-white border rounded-lg shadow">
  <%= link_to "ユーザー一覧管理へ", admin_users_path, class: "inline-block px-4 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-700" %>
  <%= link_to "ストーリー一覧管理へ", admin_stories_path, class: "inline-block px-4 py-2 text-white bg-green-600 rounded-lg hover:bg-green-700" %>
</div>
