<%= render 'home/guide_items/guide_item_template',
  title: "ストーリーを作成しよう！",
  content_text: raw('<p class="m-0 text-sm md:text-base">○ ページ右上にある「ストーリー作成」ボタンから、物語を作成しましょう。<br><br>○ ストーリーを作成すると、画像のように詳細ページに移ります。<br><br>○ 各要素のタブよりその要素のページに移れます。今回は「ワールドガイド」をクリックしましょう。<br><br>※ 画像をクリックして拡大</p>'),
  image_path_param: 'guide-create-story.png'
%>
