<%= render 'home/guide_items/guide_item_template',
  title: "フラグを作成しよう！",
  content_text: raw('<p class="m-0">○ 「フラグ」ではそのストーリーの伏線となる要素を管理できます。追加ボタンを押すことで作成することが可能です。<br><br>○ 右図のように作成済みの要素はクリックすることで詳細確認できます。<br><br>○ 右図にも表示されているボックスから現在のフラグの状態（未実装、設置済み※旗マーク、回収済み※チェックマーク）を確認できます。<br><br>※ 画像をクリックして拡大</p>'),
  image_path_param: 'guide-flag.png'
%>
