<%= render 'home/guide_items/guide_item_template',
  title: "Googleログインしよう！",
  content_text: raw('<p class="m-0">まずは、Googleログインを行いましょう。<br>ログイン後は右図のように、<br>ストーリー一覧ページへ移ります。<br><br>※ 画像をクリックして拡大</p>'),
  image_path_param: 'guide-login.png'
%>
