<% breadcrumb :flags, @story %>
<div class="px-4 sm:px-6 lg:px-8 py-8">
  <div class="max-w-screen-xl mx-auto">
    
    <%= render 'stories/tab_navigation' %>

    <div class="space-y-10">
      <div class="text-center">
        <%= link_to "フラグを作成する", new_story_flag_path(@story), class: "inline-block border border-gray-400 px-8 py-2 rounded-md font-semibold hover:bg-black hover:text-white transition-colors duration-300" %>
      </div>

      <%= render 'flags/flag_list', story: @story, flags: @flags %>
    </div>
  </div>
</div>
