<div class="px-4 sm:px-6 lg:px-8 py-8">
  <div class="max-w-xl mx-auto border-2 border-black p-8 rounded-lg">
    <h1 class="text-center text-2xl font-bold mb-8">ワールドガイド作成</h1>
    <%= render 'form', story: @story, world_guide: @world_guide %>
  </div>
</div>
