<% breadcrumb :world_guide, @story, @world_guide %>
<div class="px-4 sm:px-6 lg:px-8 py-8 ">
  <div class="max-w-screen-xl mx-auto">
    <h1 class="text-center text-3xl md:text-4xl font-bold tracking-tight mt-12 mb-14">ワールドガイドを確認しよう！</h1>

    <div class="flex flex-col sm:flex-row items-center justify-center gap-4 mb-12">
      <%= link_to "ワールドガイドを編集する", edit_story_world_guide_path(@story, @world_guide), class: "border border-gray-400 px-6 py-3 rounded-md font-semibold hover:bg-gray-100 transition-colors duration-300" %>
      <%= link_to "ワールドガイドを削除する", "#",
            class: "border border-gray-400 px-8 py-3 rounded-md font-semibold hover:bg-red-500 hover:text-white",
            data: {
              action: "click->modal#open",
              modal_url: story_world_guide_path(@story, @world_guide),
              modal_title: "ワールドガイドの削除",
              modal_body: "「<strong>#{[@world_guide.country_name, @world_guide.region_name].compact.reject(&:blank?).join(' / ')}</strong>」を完全に削除します。よろしいですか？",
              modal_button_text: "削除する"
            } %>
    </div>
    
    <%= render 'world_guides/details' %>

    <div class="text-center mt-12">
      <%= link_to "ワールドガイド一覧に戻る", story_world_guides_path(@story), class: "border border-gray-400 px-6 py-3 rounded-md font-semibold hover:bg-gray-100 transition-colors duration-300" %>
    </div>
  </div>
</div>

