<% breadcrumb :edit_story, @story %>
<div class="px-4 sm:px-6 lg:px-8 py-8">
  <div class="max-w-3xl mx-auto">
    <div class="max-w-3xl mx-auto p-8 border-2 rounded-lg mb-14 border-black">
      <%= render 'form', story: @story %>
    </div>
  </div>
</div>
