<% breadcrumb :characters, @story %>
<div class="px-4 sm:px-6 lg:px-8 py-8">
  <div class="max-w-screen-xl mx-auto">
    
    <%= render 'stories/tab_navigation' %>

    <div class="space-y-10">
      <% @categories.each do |category_key| %>
        <%= render partial: 'characters/category_section', locals: { 
              category_key: category_key,
              story: @story,
              grouped_characters: @grouped_characters
            } %>    
      <% end %>
    </div>
  </div>
</div>
