<div>
  <p class="block text-lg font-bold">イメージ画像</p>
  <div class="flex gap-4 mt-3">
    <button type="button" disabled class="w-1/2 py-2 border border-gray-400 rounded-md bg-gray-100 text-gray-500">ファイルから画像を追加</button>
    <button type="button" disabled class="w-1/2 py-2 border border-gray-400 rounded-md bg-gray-100 text-gray-500">イメージ画像を見つける</button>
  </div>
</div>
