.main-content {
  text-align: center;
  padding: 5px 20px;
  max-width: 960px;
  margin: 0 auto;
  min-height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* Historiaへようこそ */
.main-content h1 {
  font-size: 3em;
  margin-top: 50px;
  margin-bottom: 30px;
  color: #000000;
}

/* サービス説明について */
.service-description {
  margin-top: 0;
  margin-bottom: 50px;
  max-width: 700px;
  width: 100%;
  text-align: center;
  line-height: 1.8;
  color: #000000;
}

.service-description p {
  margin-bottom: 15px;
  font-size: 1.1em;
}


.action-buttons {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* 使い方ガイドのタイトル */
.guide-title {
  font-size: 1.5em;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #000000;
}

/* 使い方ガイドの全体 */
.guide-sections {
  max-width: 700px;
  width: 90%;
  margin-bottom: 30px;
}

.guide-item {
  border: 1px solid black;
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.guide-item:last-child {
  border-bottom: 1px solid black;
}

/* タブのクリックする箇所 */
.guide-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background-color: white;
  font-size: 1.1em;
  font-weight: normal;
  cursor: pointer;
  color: black;
}

.guide-header:hover {
  background-color: #f0f0f0;
}

/* 矢印のスタイル */
.guide-header .arrow {
  transition: transform 0.3s ease;
}

/* クリック時に矢印の向きを反対に */
.guide-header.expanded .arrow {
  transform: rotate(180deg);
}

/* タブの内容部分 */
.guide-content {
  padding: 20px 25px;
  background-color: #fcfcfc;
  border-top: 1px solid #eee;
  color: #555;
  text-align: left;
  display: none;
}

.guide-content p {
  margin: 0;
}

/* ここからお試し作成とログインボタン */
.action-buttons .btn {
  display: inline-block;
  padding: 15px 30px;
  margin: 0 10px;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.action-buttons .btn-outline-lg {
  border: 2px solid #000000;
  color: black;
  background-color: white;
}

.action-buttons .btn-outline-lg:hover {
  background-color: #f0f0f0;
}

.action-buttons .btn-primary-lg {
  background-color: black;
  color: white;
  border: 2px solid black;
}

.action-buttons .btn-primary-lg:hover {
  background-color: #333;
}

/* ここから注意書き */
.note {
  font-size: 0.85em;
  color: #000000;
  line-height: 1.5;
  margin-top: 0px;
  margin-bottom: 80px;
}

