<footer class="bg-black text-white text-center p-6 w-full">
  <div class="flex flex-col sm:flex-row justify-center items-center gap-2 sm:gap-4 text-sm">

    <span>© <%= Time.now.year %> Historia. All rights reserved.</span>

    <span class="hidden sm:inline">|</span>

    <nav class="flex gap-x-4">
      <%= link_to "プライバシーポリシー", static_pages_privacy_path, class: "underline hover:no-underline" %>
      <%= link_to "利用規約", static_pages_terms_path, class: "underline hover:no-underline" %>
      <%= link_to "お問い合わせ ※準備中", "#", class: "underline hover:no-underline" %>
    </nav>

  </div>
</footer>
