<%= render 'layouts/header_after_story' %>

<main>
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <%= yield %> <%# stories/index.html.erb などが入る %>
</main>
